In [8]:
import pandas as pd

batter_files = []
bowler_files = []
for i in range(2008,2024):
    bat = f'ipl-{i}-batter.csv'
    bow = f'ipl-{i}-bowler.csv'
    batter_files.append(bat)
    bowler_files.append(bow)

batter_dfs = []
for file in batter_files:
    df = pd.read_csv(file)
    batter_dfs.append(df)
    
batters = pd.concat(batter_dfs, axis=0, ignore_index=True)

bowler_dfs = []
for file in bowler_files:
    df = pd.read_csv(file)
    bowler_dfs.append(df)
    
bowlers = pd.concat(bowler_dfs, axis=0, ignore_index=True)

In [14]:
batters['Date'] = pd.to_datetime(batters['Date'])
batters['Season'] = batters['Date'].dt.year
bowlers['Date'] = pd.to_datetime(bowlers['Date'])
bowlers['Season'] = bowlers['Date'].dt.year

batters
bowlers

,Name,Overs,Maiden,Runs,Wicket,No Balls,Wides,Economy,Team,Date,Season
0,Praveen Kumar,4.0,0,38,0,0,1,9.50,Royal Challengers Bangalore,2008-04-18,2008
1,Zaheer Khan,4.0,0,38,1,0,0,9.50,Royal Challengers Bangalore,2008-04-18,2008
2,Ashley Noffke,4.0,0,40,1,0,1,10.00,Royal Challengers Bangalore,2008-04-18,2008
3,Jacques Kallis,4.0,0,48,1,0,1,12.00,Royal Challengers Bangalore,2008-04-18,2008
4,Sunil Joshi,3.0,0,26,0,0,0,8.67,Royal Challengers Bangalore,2008-04-18,2008
...,...,...,...,...,...,...,...,...,...,...,...
11972,Hardik Pandya (c),1.0,0,14,0,0,1,14.00,Gujarat Titans,2023-05-29,2023
11973,Rashid Khan,3.0,0,44,0,0,0,14.70,Gujarat Titans,2023-05-29,2023
11974,Noor Ahmad,3.0,0,17,2,0,3,5.70,Gujarat Titans,2023-05-29,2023
11975,Joshua Little,2.0,0,30,0,0,0,15.00,Gujarat Titans,2023-05-29,2023
11976,Mohit Sharma,3.0,0,36,3,0,0,12.00,Gujarat Titans,2023-05-29,2023

In [15]:
batters

,Name,Runs,Balls,Fours,Sixes,Strike Rate,Team,Date,Year,Season
0,Sourav Ganguly,10,12,2,0,83.33,Kolkata Knight Riders,2008-04-18,2008,2008
1,Brendon McCullum,158,73,10,13,216.44,Kolkata Knight Riders,2008-04-18,2008,2008
2,Ricky Ponting,20,20,1,1,100.00,Kolkata Knight Riders,2008-04-18,2008,2008
3,David Hussey,12,12,1,0,100.00,Kolkata Knight Riders,2008-04-18,2008,2008
4,Mohammad Hafeez,5,3,1,0,166.67,Kolkata Knight Riders,2008-04-18,2008,2008
...,...,...,...,...,...,...,...,...,...,...
15187,Shivam Dube,32,21,0,2,152.38,Chennai Super Kings,2023-05-29,2023,2023
15188,Ajinkya Rahane,27,13,2,2,207.69,Chennai Super Kings,2023-05-29,2023,2023
15189,Ambati Rayudu,19,8,1,2,237.50,Chennai Super Kings,2023-05-29,2023,2023
15190,MS Dhoni (c & wk),0,1,0,0,0.00,Chennai Super Kings,2023-05-29,2023,2023
15191,Ravindra Jadeja,15,6,1,1,250.00,Chennai Super Kings,2023-05-29,2023,2023

In [28]:
batters['Name'] = batters['Name'].replace({
   
})

In [35]:
total_runs = batters.groupby('Name')['Runs'].sum()
len(total_runs)

882